.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
  min-height: 320px;
  box-shadow: -1px 1px 2px grey;
  text-align: center;
  footer {
    margin-top: 10px;
    .content {
      display: flex;
      justify-content: space-between;
      p:first-child {
        margin-bottom: 5px;
        margin-left: 3px;
      }
      &__right {
        display: flex;
        justify-content: space-between;
        p {
          margin: 2px 0px 0 5px;
        }
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      text-transform: uppercase;
    }
  }
}
.columns {
  height: 240px;
  display: flex;
  justify-content: flex-start;
  transform: scale(1, -1);

  &__item {
    width: 40px;
    margin-right: 3px;
    background-color: #494fff;
    border-radius: 7px;
  }
}
.closeIcon {
  padding-top: 3px;
  position: relative;
  left: 300px;
  :hover {
    cursor: pointer;
  }
}
